# Overview

Taxes in United States vary from state to state and municipality to municipality. Sometimes people that live near a bordering state that has no taxes prefer to go and do their purchases there. The goal of this exercise is to give you an idea of the variations in the tax rates in different states. Would you choose the place to live depending on the amount of taxes you need to pay?

# Data & Setup
The tax data for the different states and territories in United States was compiled from wikipedia: 'https://en.wikipedia.org/wiki/Sales_taxes_in_the_United_States'

In [1]:
import pandas as pd
import numpy as np
proxy='https://proxy.mentoracademy.org/getContentFromWikiUrl/'
df1 = pd.read_html('https://en.wikipedia.org/wiki/Sales_taxes_in_the_United_States')
df = df1[3].drop(df1[3].index[0]).drop([3,4,5,6,7,8], axis=1)
df.columns = ['State/territory/district'  ,'Base sales tax'  ,'Total with max local surtax']

#remove the % sign
df['Base sales tax']=df['Base sales tax'].apply(lambda x: str(x)[:-1]).apply(pd.to_numeric)
df['Total with max local surtax']=df['Total with max local surtax'].apply(lambda x: str(x)[:-1]).apply(pd.to_numeric)
df

   State/territory/district  Base sales tax  Total with max local surtax
1                   Alabama           4.000                       13.500
2                    Alaska           0.000                        7.000
3                   Arizona           5.600                       10.725
4                  Arkansas           6.500                       11.625
5                California           7.250                       10.250
6                  Colorado           2.900                       10.000
7               Connecticut           6.350                        6.350
8                  Delaware           0.000                        0.000
9      District of Columbia           5.750                        5.750
10                  Florida           6.000                        7.500
11                  Georgia           4.000                        8.000
12                     Guam           4.000                        4.000
13                   Hawaii           4.166                        4.712
14                    Idaho           6.000                        8.500
15                 Illinois           6.250                       10.250
16                  Indiana           7.000                        7.000
17                 Iowa[43]           6.000                        7.000
18                   Kansas           6.500                       10.150
19                 Kentucky           6.000                        6.000
20                Louisiana           5.000                       12.000
21                    Maine           5.500                        5.500
22                 Maryland           6.000                        6.000
23            Massachusetts           6.250                        6.250
24                 Michigan           6.000                        6.000
25                Minnesota           6.875                        7.875
26              Mississippi           7.000                        7.250
27                 Missouri           4.225                       10.850
28                  Montana           0.000                        0.000
29                 Nebraska           5.500                        7.500
30                   Nevada           6.850                        8.150
31            New Hampshire           0.000                        0.000
32               New Jersey           6.875                       12.875
33               New Mexico           5.125                        8.688
34                 New York           4.000                        8.875
35           North Carolina           4.750                        7.500
36        North Dakota [44]           5.000                        8.000
37                 Ohio[45]           5.750                        8.000
38                 Oklahoma           4.500                       11.000
39                   Oregon           0.000                        0.000
40             Pennsylvania           6.000                        8.000
41              Puerto Rico          10.500                       11.500
42             Rhode Island           7.000                        7.000
43           South Carolina           6.000                        9.000
44             South Dakota           4.000                        6.000
45                Tennessee           7.000                        9.750
46                    Texas           6.250                        8.250
47                     Utah           5.950                        8.350
48                  Vermont           6.000                        7.000
49                 Virginia           5.300                        6.000
50               Washington           6.500                       10.400
51            West Virginia           6.000                        7.000
52                Wisconsin           5.000                        6.750
53                  Wyoming           4.000                        6.000

# Skills & Concepts
* python-lambda
* python-functions
* python-types
* python-sequences
* python-strings
* python-map
* python-numpy
* python-pandas-Series
* python-pandas-DataFrame

In [2]:
#find the state or territory with the highest Base sales tax

def question1():
    return "Answer" # put your answer here

In [3]:
def solution1():
    return df.loc[df['Base sales tax'].idxmax()]['State/territory/district']

solution1()

'Puerto Rico'

In [4]:
#find the state or territory with the highest Total with max local surtax

def question2():
    return "Answer" # put your answer here

In [5]:
def solution2():
    return df.loc[df['Total with max local surtax'].idxmax()]['State/territory/district']

solution2()

'Alabama'

In [6]:
# return a numpy array of states or territories with a zero percent base sales tax

def question3():
    return "Answer" # put your answer here

In [7]:
def solution3():
    return pd.Series(df.loc[df['Base sales tax'] == 0]['State/territory/district']).values

solution3()

array(['Alaska', 'Delaware', 'Montana', 'New Hampshire', 'Oregon'], dtype=object)

In [8]:
# which state or territory has the lowest non-zero percent base sales tax
#tip: create a temporary dataframe, from it remove the rows with a zero percent base sales tax
# and then get the state or territory with the lowest tax
def question4():
    return "Answer" # put your answer here

In [9]:
def solution4():
    data = df
    mask = data['Base sales tax']== 0 #should return an array of true/false
    dq = data[~mask] # remove the trues from the df
    return dq.loc[dq['Base sales tax'].idxmin()]['State/territory/district']

solution4()

'Colorado'