# Overview
Tornadoes can be very deadly and destructive. In order to understand how strong tornadoes can get, scientists commonly use the Fujita scale, which rates tornadoes by damage caused. On one side of the Fujita scale are tornadoes of category EF0, which may damage trees but will not cause substantial damage to homes and buildings. On the other side of the scale, tornadoes of category EF5 are the strongest type of tornadoes, they are very damaging to structures and are often the most deadly. Most of the EF5 tornadoes occur in the Midwest and the Southern United States. In this exercise we want to look at where exactly the strongest tornadoes occur, what months they are more likely to occur and how many deaths they are responsible for.

# Data & Setup
#The source for the data is the wikipedia page on the list of F5 and EF5 tornadoes from 1950 to 2016

In [29]:
import pandas as pd
import numpy as np
df1 = pd.read_html('https://en.wikipedia.org/wiki/List_of_F5_and_EF5_tornadoes')
#read 3rd and 4th table, drop first row and last column on each
dfa = df1[2].drop(df1[2].index[0]).drop([4], axis=1)
dfb = df1[3].drop(df1[3].index[0]).drop([4], axis=1)

#concatenate 3rd table (1950-1999) and 4th table (2000 - present)
df = pd.concat([dfa,dfb])

df.columns = ['Month-Day'  ,'Year'  ,'Location','Deaths']
df['Year']=df['Year'].apply(lambda x: str(x)[-4:])
df['Month-Day'] = df['Month-Day'].apply(lambda x: str(x)[-len(x)+x.index("!")+1:])
df['Deaths'] = df['Deaths'].apply(lambda x: str(x)[-len(x)+x.index("♠")+1:]).apply(pd.to_numeric)
df

      Month-Day  Year                                 Location  Deaths
1        May 18  1951                             Olney, Texas       2
2      March 21  1952   Byhalia, Mississippi–Moscow, Tennessee      17
3        May 22  1952       Douglas–Leavenworth County, Kansas       0
4        May 11  1953                              Waco, Texas     114
5        May 29  1953                  Fort Rice, North Dakota       2
6        June 8  1953                          Flint, Michigan     116
7        June 8  1953                             Cygnet, Ohio      18
8        June 9  1953                 Worcester, Massachusetts      94
9       June 27  1953                              Adair, Iowa       1
10   December 5  1953                   Vicksburg, Mississippi      38
11        May 1  1954   Crowell–Vernon, Texas–Snyder, Oklahoma       0
12       May 25  1955                      Blackwell, Oklahoma      20
13       May 25  1955                            Udall, Kansas      80
14       July 2  1955                    Walcott, North Dakota       2
15      April 3  1956       Hudsonville–Grand Rapids, Michigan      18
16       May 20  1957                 Ruskin Heights, Missouri      44
17       May 21  1957                        Fremont, Missouri       7
18      June 16  1957   Robecco Pavese–Valle Scuropasso, Italy       7
19      June 20  1957                      Fargo, North Dakota      10
20  December 18  1957                       Sunfield, Illinois       1
21       June 4  1958              Menomonie–Colfax, Wisconsin      21
22      June 10  1958                        El Dorado, Kansas      15
23        May 5  1960                         Prague, Oklahoma       5
24       May 19  1960                           Wamego, Kansas       0
25       May 20  1960                        Niechobrz, Poland       4
26       May 30  1961           Custer–Valley County, Nebraska       0
27      April 3  1964                     Wichita Falls, Texas       7
28     April 12  1964                    Near Lawrence, Kansas       0
29        May 5  1964                       Bradshaw, Nebraska       4
30     April 11  1965                          Midway, Indiana      14
..          ...   ...                                      ...     ...
72       June 1  1990                            Girvin, Texas       0
73    August 28  1990                     Plainfield, Illinois      29
74     April 26  1991                          Andover, Kansas      17
75     April 26  1991                       Red Rock, Oklahoma       0
76      June 16  1992                      Chandler, Minnesota       1
77       June 8  1995                       Kellerville, Texas       0
78      July 18  1996                      Oakfield, Wisconsin       0
79       May 27  1997                           Jarrell, Texas      27
80      April 8  1998        Oak Grove–Pleasant Grove, Alabama      32
81     April 16  1998                  Wayne County, Tennessee       3
82     April 16  1998               Lawrence County, Tennessee       0
83        May 3  1999             Bridge Creek–Moore, Oklahoma      36
84       May 11  1999                      Loyal Valley, Texas       1
1         May 4  2003                  Girard–Franklin, Kansas       3
2         May 4  2007                       Greensburg, Kansas      11
3       June 22  2007                           Elie, Manitoba       0
4        May 25  2008           Parkersburg–New Hartford, Iowa       9
5      April 27  2011        Philadelphia–Preston, Mississippi       3
6      April 27  2011                  Smithville, Mississippi      23
7      April 27  2011        Hackleburg–Phil Campbell, Alabama      72
8      April 27  2011           Tuscaloosa–Birmingham, Alabama      64
9      April 27  2011             Rainsville–Sylvania, Alabama      25
10       May 22  2011                         Joplin, Missouri     158
11       May 24  2011               El Reno–Piedmont, Oklahoma       9
12       May 24  2011  Chickasha–Blanchard–Newcastle, Oklahoma       1
13       May 24  2011             Washington–Goldsby, Oklahoma       0
14       May 20  2013                          Moore, Oklahoma      24
15       May 31  2013                        El Reno, Oklahoma       8
16     April 27  2014                        Vilonia, Arkansas      16
17      April 9  2015                       Rochelle, Illinois       2

[101 rows x 4 columns]

In [30]:
def getDF():
    return df

In [31]:
# extract the month from the 'Month-Day' column and put it in column called 'Month'
#drop the 'Month-Day' column
def question1():
    df = getDF()
    return "answer"

In [33]:
#create a separate column where you just list the state/country, use the last comma in 
# the Location field to separate it
#drop the Location column
def question2():
    df = question1()
    return "answer"

In [35]:
# using 'isin' create two dataframes, one with the data that have a loc in one of the
# states in the following list, the other without
def question3():
    df = question2()
    states = ['Wisconsin', 'Texas', 'Oklahoma', 'Minnesota', 'Alabama', 'Tennessee', 'Kansas', 
              'Pennsylvania', 'South Dakota', 'Iowa', 'Ohio', 'Kentucky', 'Indiana', 'Nebraska', 'Illinois', 
              'North Dakota', 'Missouri', 'Michigan', 'Mississippi', 'Massachusetts','Louisiana']
    return "answer"

In [37]:
#list the top 5 years when F5 caused the most deaths in the US
def question4():
    df_us, df_non_us = question3()
    return "answer"

In [39]:
#list the 5 months that F5 caused the most deaths in the US, along with the number of deaths
def question5():
    df_us, df_non_us = question3()
    return "answer"

In [41]:
# what three months are F5 tornadoes more common in the US, return a Series with month as the index, 
# and the value is the number of occurrences
def question6():
    df_us, df_non_us = question3()
    return "answer"

In [43]:
#what month are F5 tornadoes more common outside the US
def question7():
    df_us, df_non_us = question3()
    return "answer"

In [45]:
# list the five states that have seen the most deaths due to F5 tornadoes, including the number of deaths
def question8():
    df_us, df_non_us = question3()
    return "answer"

In [47]:
# what four states have seen the most F5 tornadoes. return a Series with the index as the State and the value as the
# number of tornadoes that the state has seen
def question9():
    df_us, df_non_us = question3()
    return "answer"

In [49]:
# what country not in the US has seen the most deaths due to F5 tornadoes
def question10():
    df_us, df_non_us = question3()
    return "answer"

In [51]:
# List the top three years when the US had the most F5 tornadoes. Return a Series with the index as the year and the
# value as the number of tornadoes

def question11():
    df_us, df_non_us = question3()
    return "answer"

In [53]:
#on average, how many people are killed by an F5 tornado in the US, return a formatted number with one decimal
# hint you can use "{:2.1f}".format(x)
def question12():
    df_us, df_non_us = question3()
    return "answer"